{% extends "base.html" %}

{% block title %}Agendamentos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 class="text-center mb-4">Lista de Agendamentos</h3>

    <form method="GET" class="mb-4">
        <div class="row">
            <div class="col-md-6">
                <select name="barbeiro" class="form-select">
                    <option value selected>Filtrar por Barbeiro</option>
                    {% for barbeiro in barbeiros %}
                    <option value="{{ barbeiro.id }}">{{ barbeiro.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <input type="date" name="data" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
    </form>

    <div class="overflow-x-auto bg-white rounded-xl shadow-lg p-3">
        <table class="min-w-full table-auto text-center border-collapse border border-gray-200 rounded-lg">
            <thead class="bg-blue-500 text-white rounded-lg mb-4">
                <tr>
                    <th class="p-2 rounded-tl-sm">Cliente</th>
                    <th class="p-2">Tipo de Corte</th>
                    <th class="p-2">Barbeiro</th>
                    <th class="p-2">Data e Hora</th>
                    <th class="p-2">Preço</th>
                    <th class="p-2 rounded-tr-sm">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for agendamento in page_obj %}
                <tr id="agendamentoRow{{ agendamento.id }}" class="{% cycle 'bg-gray-100' 'bg-white' %}">
                    <td class="text-sm font-bold">
                        <a href="#"
                           class="enviar-whatsapp"
                           data-nome="{{ agendamento.cliente.nome }}"
                           data-telefone="{{ agendamento.cliente.telefone }}"
                           style="text-decoration: none; color: inherit;">
                            <span>{{ agendamento.cliente.nome }}</span>
                        </a>
                    </td>

                    <td class="text-sm font-bold">
                        {% for corte in agendamento.tipo_corte.all %}
                            {{ corte.nome }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>

                    <!-- Nome do barbeiro com a cor específica -->
                    <td class="text-sm font-bold">
                        <span class="px-2 py-1 rounded-full" style="background-color: {{ agendamento.cor_barbeiro }}">
                            {{ agendamento.barbeiro }}
                        </span>
                    </td>
                    
                    <!-- Data e Hora com a mesma cor do barbeiro -->
                    <td class="text-sm font-bold">
                        <span class="px-2 py-1 rounded-full" style="background-color: {{ agendamento.cor_barbeiro }}">
                            {{ agendamento.data|date:"l - d/m" }} - {{ agendamento.hora|time:"H:i" }}
                        </span>
                    </td>

                    <td class="text-sm font-bold">R$ {{ agendamento.calcular_valor_total }}</td>

                    <td>
                        <a href="{% url 'confirmar_pagamento' agendamento.id %}" class="btn btn-success btn-sm">Confirmar</a>

                        <form method="POST" action="{% url 'remover_agendamento' agendamento.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Paginação -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">Primeira</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <a class="page-link" href="#">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<script>
    document.querySelectorAll('.enviar-whatsapp').forEach(button => {
        button.addEventListener('click', function() {
            let nome = this.getAttribute('data-nome');
            const telefone = this.getAttribute('data-telefone').replace(/\s/g, '');

            nome = nome.replace(/\s*\(.*?\)\s*/g, '').trim();
            const mensagem = `Olá, ${encodeURIComponent(nome)}!`;

            const url = `https://web.whatsapp.com/send?phone=${telefone}&text=${mensagem}`;

            window.open(url, '_blank');
        });
    });
</script>
{% endblock %}
